div.enc{
    text-align: center;
    background-color: black;
    color: orange;
    font-weight: bold;
}

body{
    background-color: black;
}

p{
    color: white;
    font-weight: bold;

}

div.txt{
    color: white;
}

div.ima{
    position: relative;
    left: 250px;
}